.advantages-item {
  padding: 35px 20px 11px 20px;
  background-color: var(--primary-bg);

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--weight-minus {
    background-image: url("../../img/backgrounds/promo-weight-minus.svg");
    background-repeat: no-repeat;
    background-position: 22px 20px;
    background-size: 50px 53px;
  }

  &--weight-plus {
    background-image: url("../../img/backgrounds/promo-weight-plus.svg");
    background-repeat: no-repeat;
    background-position: 13px 23px;
    background-size: 67px 50px;
  }
}

.advantages-item__title {
  margin: 0;
  padding-left: 71px;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
}

.advantages-item__text {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  font-family: var(--secondary-font);
  color: var(--font-color-secondary);
  border-bottom: 1px solid var(--border-color);
}

.advantages-item__link {
  --arrow-length: 18px;
  --arrow-padding: 16px;

  position: relative;
  display: inline-block;
  margin-top: 8px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 70px;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;

  &:hover {
    --arrow-length: 26px;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(100% + var(--arrow-padding) - 70px);
    width: var(--arrow-length);
    height: 2px;
    background-color: var(--black);
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(100% + var(--arrow-padding) + var(--arrow-length) - 70px);
    border: 5px solid transparent;
    border-right: 7px solid transparent;
    border-left: 7px solid var(--black);
  }
}

@media (min-width: @tablet) {
  .advantages-item {
    padding: 77px 316px 46px 52px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &--weight-minus {
      background-position: calc(100% - 62px) 78px;
      background-size: 200px 211px;
    }

    &--weight-plus {
      background-position: calc(100% - 28px) 93px;
      background-size: 269px 200px;
    }
  }

  .advantages-item__title {
    padding-left: 0;
    padding-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  .advantages-item__text {
    padding-bottom: 33px;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color-primary);
    border-bottom: none;
  }

  .advantages-item__link {
    --arrow-padding: 25px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop) {
  .advantages-item {
    padding: 77px 51px 48px 51px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--weight-minus {
      background-position: 54px 40px;
      background-size: 100px 106px;
    }

    &--weight-plus {
      background-position: 33px 46px;
      background-size: 134px 100px;
    }
  }

  .advantages-item__title {
    padding-left: 163px;
    padding-bottom: 73px;
  }

  .advantages-item__text {
    padding-bottom: 9px;
  }

  .advantages-item__link {
    --arrow-padding: 27px;
  }
}
