.background-container {
  position: absolute;
  top: 0;
  left: -20px;
  background-image: url("../../img/cat-background-small.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 320px 302px;
  z-index: -1;
}

.background-container__background-color {
  width: 320px;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
}
