.background-container {
  width: calc(100% + 2 * @padding-mobile);
  height: 302px;
  background-image: url("../../img/cat-background-small.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px 302px;
  background-color: #4c4b50;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/cat-background-small-2x.jpg");
  }
}

.background-container__background-color {
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
}

@media (min-width: @desktop) {
  .background-container {
    width: 720px;
    height: 694px;
    background-image: url("../../img/cat-background-large.jpg");
    background-position: 0 100%;
    background-size: 720px 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/cat-background-large-2x.jpg");
    }
  }
}
