.background-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  background-image: url("../../img/cat-background-small.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 320px 302px;
  z-index: -1;
}

.background-container__background-color {
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
}
