.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  padding: 0;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;

  &--special {
    font-size: 14px;
    line-height: 18px;
  }

  &--primary {
    color: var(--white);
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--secondary-color);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--secondary {
    color: var(--font-color-secondary);
    background-color: var(--primary-bg);

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--form {
    margin-bottom: 20px;
  }
}

@media (min-width: @tablet) {
  .button {
    &--special {
      min-height: 54px;
    }

    &--form {
      height: 52px;
      margin-bottom: 0;
    }
  }
}
