.example {
  padding: 25px @padding-mobile;
  background-color: var(--secondary-bg);
}

.example__text {
  margin: 0;
  padding-bottom: 20px;
  font-family: var(--secondary-font);
  color: var(--font-color-secondary);
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 32px;
  margin: 0;
  margin-bottom: 34px;
}

.example__item {
  position: relative;
  min-width: 120px;
  text-align: center;
}

.example__number {
  padding: 15px 20px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid var(--border-field-color-secondary);
  border-radius: 3px;
}

.example__description {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 45px);
  display: block;
  width: 87px;
  margin: 0;
  padding: 5px 10px;
  font-family: var(--secondary-font);
  font-size: 12px;
  line-height: 12px;
  color: var(--font-color-secondary);
  background-color: var(--secondary-bg);
}

.example__list-text {
  display: block;
  padding-bottom: 40px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__compare-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__image {
  margin-bottom: 15px;

  &--hidden {
    display: none;
  }
}

.example__toggle {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.example__radio {
  &--hidden {
    display: none;
  }
}

.example__toggle-text {
  padding: 13px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  &--special {
    padding-left: 0;
    padding-right: 0;
    pointer-events: none;
  }
}

.example__toolbar {
  position: relative;
  display: inline-block;
  width: 86px;
  height: 14px;
  border: 1px solid var(--border-field-color-secondary);
  border-radius: 6px;
  background-color: var(--white);

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 36px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 6px;
  }
}

@media (min-width: @tablet) {
  .example {
    padding: 0;
    background-color: var(--page-bg);
  }

  .example__title {
    padding: 0 @padding-tablet;
  }

  .example__text {
    padding: 0 @padding-tablet 54px @padding-tablet;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 @padding-tablet 75px @padding-tablet;
    margin-bottom: 157px;
  }

  .example__list {
    gap: 20px 42px;
    margin-bottom: 0;
  }

  .example__list-text {
    max-width: 180px;
    padding-bottom: 0;
    font-size: 20px;
    text-align: right;

    &--special {
      display: inline-block;
      margin-top: 9px;
    }
  }

  .example__item {
    width: 162px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    left: 30px;
    bottom: -10px;
    width: max-content;
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
    background-color: var(--page-bg);

    &--special {
      left: 10px;
    }
  }

  .example__compare-images {
    min-height: 462px;
    background-color: var(--secondary-bg);
  }

  .example__image {
    display: none;

    &--special {
      display: block;
      width: 592px;
      height: 511px;
      margin-top: -170px;
    }
  }

  .example__toggle {
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding-bottom: 62px;
    background-color: var(--secondary-bg);
  }

  .example__radio {
    &--hidden {
      display: initial;
    }
  }

  .example__toggle-special {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  }

  .example__toggle-text {
    font-size: 20px;
    line-height: 30px;

    &:hover {
      .example__toggle-special {
        border-bottom-style: solid;
      }
    }

    &:active {
      .example__toggle-special {
        border-bottom: none;
      }
    }

    &--special {
      pointer-events: initial;

      &:hover {
        .example__toolbar::before {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
        }
      }

      &:active {
        .example__toolbar::before {
          border-color: var(--primary-color);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .example__toolbar {
    width: 426px;
    height: 6px;
    margin-bottom: 5px;
    background-color: var(--border-field-color-secondary);

    &::before {
      top: -15px;
      left: calc(50% - 17px);
      width: 34px;
      height: 34px;
      background-color: var(--white);
      border: 1px solid var(--border-field-color-secondary);
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      background-color: var(--primary-color);
      border-radius: 50%;
    }
  }
}

@media (min-width: @desktop) {
  .example {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--secondary-bg);
  }

  .example__title {
    grid-column: 1 / -1;
    padding-left: @padding-desktop;
    padding-right: @padding-desktop;
    background-color: var(--page-bg);
  }

  .example__text {
    padding: 70px 165px 65px @padding-desktop;
  }

  .example__list {
    padding-bottom: 58px;
  }

  .example__list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: 110px;
  }

  .example__list-text {
    max-width: fit-content;
    text-align: left;

    &--special {
      margin-left: 63px;
    }
  }

  .example__description {
    background-color: var(--secondary-bg);
  }

  .example__compare-images {
    grid-column: 2 / 3;
    grid-row: 2 / span 2;
  }

  .example__image {
    &--special {
      margin-top: -179px;
    }
  }

  .example__toggle {
    padding-bottom: 58px;
  }
}
