.filters {
  font-size: 16px;
  line-height: 18px;
}

.filters__title {
  align-self: flex-start;
  margin-bottom: 36px;

  &--special {
    max-width: 232px;
  }
}

.filters__group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border: none;

  &--radio {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -@padding-mobile;
      width: 100vw;
      height: 1px;
      background-color: var(--border-color);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: -@padding-mobile;
      width: 100vw;
      height: 1px;
      background-color: var(--border-color);
    }
  }
}

.filters__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;

  &--special {
    padding-bottom: 12px;
  }
}

.filters__label {
  display: flex;
  align-items: center;
  color: var(--font-color-secondary);
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.filters__input-field {
  flex-grow: 1;
  min-height: 45px;
  margin-left: 12px;
  padding: 0 15px;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 18px;
  color: var(--font-color-secondary);
  text-transform: uppercase;
  border: 1px solid var(--border-field-color-primary);

  &--icon {
    border: 1px solid var(--border-field-color-secondary);
  }

  &:hover {
    border-color: var(--border-field-color-secondary);
  }

  &:focus-visible {
    border-color: var(--font-color-secondary);
    outline: 1px solid var(--font-color-secondary);
  }

  &--error {
    border-color: var(--border-status-error);
    outline: 1px solid var(--border-status-error);
  }

  &:disabled {
    background-color: var(--border-status-error);
  }
}

.filters__input-textarea {
  margin: 0;
  padding: 9px 12px 9px 15px;
  height: 150px;
}

.filters__text {
  display: block;
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: @tablet) {
  .filters {
    font-size: 20px;
    line-height: 30px;
  }

  .filters__title {
    &--special {
      max-width: none;
    }

    &--contacts {
      margin-bottom: 76px;
    }

    &--comment {
      margin-bottom: 76px;
    }

    &--secondary-information {
      margin-bottom: 62px;
    }
  }

  .filters__container {
    padding-bottom: 65px;

    &--special {
      padding-bottom: 7px;
    }
  }

  .filters__group {
    &--top {
      padding-bottom: 72px;
    }

    &--radio {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &--checkbox {
      padding-bottom: 59px;
    }
  }

  .filters__label:not(:last-child) {
    margin-bottom: 20px;
  }

  .filters__input-field {
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  .filters__input-textarea {
    padding: 10px 19px;
  }

  .filters__container--special {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px 60px;
  }

  .filters__text {
    text-align: left;
    font-size: 16px;
  }
}

@media (min-width: @desktop) {
  .filters__container {
    padding-bottom: 67px;

    &--top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 80px;
    }

    &--special {
      gap: 32px 80px;
      padding-bottom: 15px;
    }
  }

  .filters__group {
    &--top {
      padding-bottom: 0;
    }

    &--checkbox {
      padding-bottom: 67px;
    }
  }

  .filters__inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 80px;
  }

  .filters__label--inner-container:not(:last-child) {
    margin-bottom: 0;
  }
}
