.main-navigation__list {
  position: absolute;
  left: 0;
  top: 64px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
  background-color: var(--page-bg);

  &--closed {
    display: none;
  }

  &--nojs {
    position: static;
    display: flex;
  }
}

.main-navigation__item {
  border-top: 1px solid #E6E6E6;
}

.main-navigation__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  min-height: 30px;
  padding: 0;
  background-color: var(--page-bg);
  border: none;

  &--nojs {
    display: none;
  }
}

.main-navigation__toggle-image {
  position: relative;
  width: 24px;
  height: 1.5px;
  background-color: var(--black);

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: var(--black);
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: var(--black);
  }

  &--open {
    background-color: transparent;
  }

  &--open::before {
    content: "";
    position: absolute;
    top: 0;
    transform: rotate(45deg);
  }

  &--open::after {
    content: "";
    position: absolute;
    top: 0;
    transform: rotate(135deg);
  }
}

.main-navigation__item {
  padding: 22px 0 24px 0;
}

.main-navigation__link {
  padding: 8px 0;
  color: var(--font-color-primary);
}

@media (min-width: @tablet) {
  .main-navigation {
    max-width: 800px;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    position: initial;
  }

  .main-navigation__item {
    margin-left: 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-top: none;
  }

  .main-navigation__link {
    &--current {
      border-bottom: 2px solid var(--primary-color);
    }
  }
}

@media (min-width: @desktop) {
  .main-navigation {
    max-width: 700px;
  }

  .main-navigation__list {
    background-color: transparent;
  }

  .main-navigation__item {
    position: initial;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .main-navigation__link--special.main-navigation__link--current {
    border-bottom: 2px solid var(--white);
  }

  .main-navigation__link--special {
    color: var(--white);
  }
}
