.main-page {
  flex-grow: 1;
}

@media (min-width: @tablet) {
  .main-page__working-tips {
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop) {
  .main-page__working-tips {
    margin-bottom: 49px;
  }
}
