.main-navigation__list {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;
}

.main-navigation__item {
  padding: 22px 20px 24px 20px;
}

.main-navigation__link {
  padding: 5px 20px;
  color: var(--font-color-primary);
}
