.primary-catalog {
  display: block;
}

.primary-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.primary-catalog__item {
  border-top: 1px solid #ebebeb;

  &:last-of-type {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: @tablet) {
  .primary-catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 62px 60px;
  }

  .primary-catalog__item {
    border-top: none;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

@media (min-width: @desktop) {
  .primary-catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 62px 80px;
  }
}
