.promo-header {
  display: flex;
  position: relative;
  min-height: 490px;
  padding-top: 27px;

  &--mobile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white);
    z-index: 1;
  }
}

.promo-header__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo-header__image {
  display: block;
  margin-bottom: 3px;
}

.promo-header a {
  color: var(--white);
}
