.promo {
  position: relative;
  padding: 0 @padding-mobile;
}

.promo__header {
  padding-top: 27px;
  margin-bottom: 20px;
}

@media (min-width: @tablet) {
  .promo {
    padding: @padding-tablet;
  }

  .promo__working-tips {
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop) {
  .promo {
    padding: 0 @padding-desktop;
  }

  .promo__advantages {
    margin-bottom: 51px;
  }

  .promo__working-tips {
    margin-bottom: 49px;
  }
}
