.promo {
  position: relative;
  padding: 0 @padding-mobile;
}

.promo__header {
  margin-bottom: 10px;
  padding-top: 27px;
}

@media (min-width: @tablet) {
  .promo {
    padding: @padding-tablet;
  }

  .promo__header {
    margin-bottom: 0;
    padding-top: 0;
  }
}

@media (min-width: @desktop) {
  .promo {
    padding: 0 @padding-desktop;
  }

  .promo__advantages {
    margin-bottom: 51px;
  }
}
