.radio {
  padding: 22px 0 19px 0;
}

.radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radio__item:not(:last-child) {
  margin-bottom: 13px;
}

.radio__button {
  color: #222222;
  text-transform: uppercase;
}

.radio__mark {
  padding-left: 45px;
}

@media (min-width: @tablet) {
  .radio {
    padding: 30px 88px 25px 88px;
    border: 1px solid var(--border-field-color-primary);
  }

  .radio__item:not(:last-child) {
    margin-bottom: 23px;
  }
}
