.secondary-catalog__title {
  margin-bottom: 36px;
}

.secondary-catalog__list {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  list-style-type: none;
}

@media (min-width: @tablet) {
  .secondary-catalog__title {
    padding-left: 40px;
    margin-bottom: 80px;
  }

  .secondary-catalog__list {
    padding-bottom: 70px;
  }
}

@media (min-width: @desktop) {
  .secondary-catalog {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 0 80px;
  }

  .secondary-catalog__title {
    grid-column: 1 / -1;
    padding-left: 0;
    margin-bottom: 80px;
  }

  .secondary-catalog__list {
    grid-column: 1 / 2;
    padding-bottom: 0;
  }

  .secondary-catalog__present {
    grid-column: 2 / 3;
  }
}
