.secondary-catalog__list {
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
  list-style-type: none;
}

@media (min-width: @desktop) {
  .secondary-catalog {
    position: relative;
  }

  .secondary-catalog__list {
    padding-right: 315px;
  }
}
