.shop-location {
  display: flex;
  justify-content: space-between;

  &--mobile {
    padding: 26px 20px;
  }
}

.shop-location__text {
  min-width: 139px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.shop-location__address {
  font-family: var(--secondary-font);
  font-style: normal;
  line-height: 20px;
  color: var(--font-color-secondary);
}
