.title-secondary {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  &--special {
    line-height: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 4px);
    left: calc(100% + 22px);
    width: calc(100vw - 100% - 22px - @padding-mobile);
    height: 2px;
    background-color: var(--primary-color);
  }
}

@media (min-width: @tablet) {
  .title-secondary {
    display: inline-flex;
    font-size: 36px;
    line-height: 36px;

    &--special {
      padding-left: 40px;
    }

    &::before {
      left: calc(100% + 40px);
      width: calc(100vw - 100% - 40px - @padding-tablet);
    }

    &--filters::before {
      left: calc(100% + 40px);
      width: calc(100vw - 100% - 40px - 70px);
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(50% + 4px);
      left: -@padding-tablet;
      width: @padding-tablet;
      height: 2px;
      background-color: var(--primary-color);
    }

    &--filters::after {
      left: -70px;
    }
  }
}

@media (min-width: @desktop) {
  .title-secondary {
    margin-bottom: 86px;

    &--special {
      margin-bottom: 80px;

      padding-left: 0;
    }

    &::before {
      width: calc(100vw - 100% - 40px - @padding-desktop);
    }

    &::after {
      left: -@padding-desktop;
      width: 70px;
    }
  }
}
