.title-secondary {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  &--mobile {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 26px;
  }

  &--mobile-special {
    line-height: 24px;
  }
}
