.title-primary {
  margin: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;

  &--mobile {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  &--mobile-special {
    line-height: 40px;
  }

  &--mobile-promo {
    margin-bottom: 25px;
    color: var(--white);
  }
}
