.title-secondary {
  margin: 0;
  padding-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  &--special {
    line-height: 24px;
  }
}

@media (min-width: @tablet) {
  .title-secondary {
    font-size: 30px;
    line-height: 36px;

    &--special {
      line-height: 36px;
    }
  }
}

@media (min-width: @desktop) {
  .title-secondary {
    padding-bottom: 86px;

    &--special {
      padding-bottom: 80px;
    }
  }
}
