.working-tips {
  padding: 20px @padding-mobile;
  padding-top: 9px;
}

.working-tips__list {
  margin: 0;
  padding: 0;
  counter-reset: li;
}

.working-tips__item {
  min-height: 60px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px 60px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--leaf {
    background-image: url("../../img/icons/tips-leaf.svg");
  }

  &--liquid {
    background-image: url("../../img/icons/tips-liquid.svg");
  }

  &--tablewear {
    background-image: url("../../img/icons/tips-tablewear.svg");
  }

  &--scales {
    background-image: url("../../img/icons/tips-scales.svg");
  }
}

.working-tips__text {
  margin: 0;
  padding-left: 80px;
  font-family: var(--secondary-font);
  color: var(--font-color-secondary);
}

@media (min-width: @tablet) {
  .working-tips {
    padding: 20px @padding-tablet;
    padding-top: 15px;
  }

  .working-tips__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 154px;
  }

  .working-tips__item {
    position: relative;
    min-height: 280px;
    background-size: 80px 80px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .working-tips__item::after {
    content: counter(li) "";
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
    font-size: 280px;
    line-height: 280px;
    color: var(--primary-bg);
    counter-increment: li;
  }

  .working-tips__text {
    padding-top: 110px;
    padding-left: 0;
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop) {
  .working-tips {
    padding: 20px @padding-desktop;
  }

  .working-tips__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 72px;
  }

  .working-tips__text {
    padding-right: 0;
  }
}
